﻿@model IEnumerable<NopHoSoMotCuaZaLo.Models.SON_GETDANHSACHHOSOKEMTHEO_BY_LOAIHOSO_1Result>
@{
    ViewBag.Title = "Nộp hồ sơ";
    Layout = "~/Views/Shared/_LayoutNopHoSoZaLo.cshtml";
}
<script src="~/Content/dropzone.js"></script>
<link href="~/Content/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/jquery183.min.js"></script>
<script src="~/Content/exif.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">
    $(function () {
        $('input:radio[name="HinhThuc"]').change(function () {
            if ($(this).val() == "1") {
                    @{int j = 1;
                    }
                    @foreach (var item in Model)
                    {
                         string jidfrm = "$('#frmupload" + j + "').show();";
                            j++;
                         @MvcHtmlString.Create(jidfrm);
                    }
                $("#frmhinhthuc2").hide();
            } else {
                 @{int t = 1;}
                @foreach (var item in Model)
                    {
                    string jidfrmh = "$('#frmupload" + t+ "').hide();";
                     t++;
                     @MvcHtmlString.Create(jidfrmh);
                    }
                $("#frmhinhthuc2").show();
            }
        });
    });
</script>
<header class="w3-display-container w3-content" style="max-width:1500px;">
    @*<img class="w3-image" src="https://www.w3schools.com/w3images/hotel.jpg" alt="The Hotel" style="min-width:600px" width="1500" height="800">
        <div class="w3-display-left w3-padding w3-col l6 m8">
                <div class="w3-container w3-red">
                    <h2><i class="fa fa-bed w3-margin-right"></i>Tên hồ sơ</h2>
                </div>
                <div class="w3-container w3-white w3-padding-16">
                    <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
                </div>
                <div class="w3-container w3-white w3-padding-16">
                    <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
                </div>
            </div>
    *@
    <style>
        #productBulkImagesUpload {
            max-height: 100px;
            overflow: scroll;
        }

        .uploaded-image {
            border-bottom: 1px solid #eee;
            .dz-progress

        {
            display: block;
            height: 5px;
            .dz-upload

        {
            display: block;
            height: 100%;
            background: #b7e2b7;
            width: 0;
        }

        }

        .dz-error-message {
            color: red;
        }

        &.dz-complete .dz-progress {
            display: none;
        }
        }
    </style>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-padding w3-col l6 m8">
        @ViewBag.DeviceInfo
        @*<div class="w3-container w3-red">
            <h2>Nộp hồ sơ qua mạng</h2>
        </div>*@
        <div class="w3-container w3-white w3-padding-16">
            <div class="w3-row-padding" style="margin:0 -16px;">
                <div class="w3-half w3-margin-bottom">
                    <label>
                        <span class="glyphicon glyphicon-home"></span> Đơn vị: @ViewBag.TenDonVi
                    </label>
                </div>
                <div class="w3-half">
                    <label><span class="glyphicon glyphicon-folder-open"></span> Tên hồ sơ:</label>
                    <h5>@ViewBag.TenHoSo</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-margin-top" id="rooms">
    </div>


    <div class="w3-row-padding w3-padding-16">
        <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-white">
                @using (Html.BeginForm("CreateAppTayNinh", "NopHoSoZaLo", System.Web.Mvc.FormMethod.Post, new { id = "myForm" }))
                {
                    <h3>Thông tin đăng ký</h3>
                    <label>Họ và tên</label>
                    <input class="w3-input w3-border" type="text" name="HoTen" id="HoTen" required>
                    <label>Số giấy tờ</label>
                    @Html.DropDownList("LoaiGiayTo", null, null, new { @class = "w3-input w3-border w3-margin-bottom" })
                    @*<select name="LoaiGiayTo" class="w3-input w3-border w3-margin-bottom">
                            <option value="1">Chứng minh nhân dân</option>
                            <option value="2">Hộ chiếu</option>
                            <option value="3">Chứng minh quân đội</option>
                            <option value="4">Chứng minh sĩ quan</option>
                            <option value="4">Căn cước công dân</option>
                        </select>*@
                    <input class="w3-input w3-border" type="text" name="SoGiayTo" id="SoGiayTo" required>
                    <label>Điện thoại di động</label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" name="DiDong" id="DiDong" required>
                    <input type="hidden" id="MaDonVi" name="MaDonVi" value="@ViewBag.MaLoaiDonVi">
                    <input type="hidden" id="MaLoaiHoSo" name="MaLoaiHoSo" value="@ViewBag.MaLoaiHoSo">
                    <input type="hidden" id="LinhVuc" name="LinhVuc" value="@ViewBag.LinhVuc">
                    <div class="w3-margin-bottom">
                        <label>Hình thức nộp</label>

                        @Html.RadioButton("HinhThuc", 1, new { Checked = "checked" }) @ViewBag.HinhThuc1 &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButton("HinhThuc", 2) @ViewBag.HinhThuc2 &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="w3-margin-bottom" style="display: none" id="frmhinhthuc2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Địa chỉ</label>

                            @Html.DropDownList("IDQUAN", new SelectList(
                                    ViewBag.Huyen, "DonViID", "TenDonVi"),
                                    "Chọn huyện/thành phố",
                                    new
                                    {
                                        id = "ddlProductTypes",
                                        @class = "w3-input w3-border w3-margin-bottom"
                                    })
                            @Html.DropDownList("IDXA", new SelectList(Enumerable.Empty<SelectListItem>(), "DonViID", "TenDonVi"),
                                                        "Chọn phường/xã",
                                                        new
                                                        {
                                                            id = "ddlProductCategorys",
                                                            @class = "w3-input w3-border"
                                                        })

                        </div>
                        @*<label>Số nhà/ tên đường</label>*@
                        <input class="w3-input w3-border" type="text" name="DiaChi" id="DiaChi" placeholder="Số nhà/tên đường" required>
                        <label>Ghi chú</label>
                        <input class="w3-input w3-border" type="text" name="GhiChu" id="GhiChu" required>
                    </div>
                }

            </div>
        </div>
        <div class="w3-third w3-margin-bottom">

            <div class="w3-container w3-white">
                <h3>Danh sách hồ sơ kèm theo</h3>
                <table class="w3-table-all w3-margin-bottom">
                    <thead>
                        <tr class="w3" style="background-color: #0E4AA3;color: white;">
                            <th>STT</th>
                            <th>Bộ hồ sơ bao gồm</th>
                        </tr>
                    </thead>
                    @{int i = 1; }
                    @foreach (var item in Model)
                    {
                        string idfrm = "frmupload" + i;
                        <tr>
                            <td>@i</td>
                            @{ i++;}
                            <td>
                                <label>@item.TenHoSoKemTheo</label>
                                @if (item.FileName != null)
                                {
                                    string url = "dichvucong.tayninh.gov.vn/Trang-chu/moduleId/398/FileName/" + @item.FileName + "/controller/TTHC/action/DownloadFile_HoSoKemTheo";
                                    <a href="/NopHoSoZaLo/TaiFile?namefile=@item.FileName"><p>Tải về biểu mẫu</p></a>
                                    //<button class="btn" value="namea" onclick="AssignButtonClicked('@item.FileName);"><i class="fa fa-download"></i> Download</button>
                                }
                                @*<input class="w3-input w3-border" type="file" multiple="multiple">*@
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-left: 8px">
                                <div id="@idfrm">
                                    <form action="~/NopHoSoZalo/SaveUploadedFile?idHoSo=@item.HoSoKemTheoID" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                            <input type="submit" value="Upload" />
                                        </div>
                                    </form>
                                </div>
                            </td>
                            @*<td></td>*@
                        </tr>
                    }
                </table>

            </div>
        </div>
        <div class="w3-third w3-margin-bottom">

            <div class="w3-container w3-white">
                <h3>Yêu cầu</h3>
                <p>I. Tập tinh đính kèm phải quét từ bản chính</p>
                <p>II. Khi đến nhận kết quả hồ sơ tại Trung tâm Hành chính công, Ông/Bà nhớ mang theo</p>
                <h6 class="w3-opacity">1. Giấy tờ tuỳ thân</h6>
                <h6 class="w3-opacity">2. Bản chính các giấy tờ gửi qua mạng</h6>
                <input class="w3-button w3-block w3-margin-bottom" style="background-color: #0E4AA3;color: white;" type="button" onclick="myFunction()" value="Gửi hồ sơ" />
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            var ht = document.getElementById('HoTen').value;
            var sgt = document.getElementById('SoGiayTo').value;
            var dt = document.getElementById('DiDong').value;
            var dc = document.getElementById('DiaChi').value;
            var dcxa = document.getElementById('ddlProductCategorys').value;
            var dcquan = document.getElementById('ddlProductTypes').value;
            var hinhthuc = document.querySelector('input[name="HinhThuc"]:checked').value;
            if (ht == "" || sgt == "" || dt == "") {
                alert("Nhập đầy đủ thông tin");
            } else {
                if (hinhthuc == 2 && dc == "") {
                    alert("Nhập đầy địa chỉ");
                } else {
                    $.getJSON('/NopHoSoZaLo/KTSDT', { sdt: dt }, function (data) {
                        if (data.Message != true) {
                            alert(data.Message);
                        } else {
                            if (hinhthuc == 1) {
                                $.getJSON('/NopHoSoZaLo/KTFileTaiLen', function (data) {
                                    if (data.Message != true) {
                                        alert(data.Message);
                                    } else {
                                        document.getElementById("myForm").submit();
                                    }
                                });
                            } else {
                                if (dcquan == "" || dcxa == "" || dcquan == 0 || dcxa == 0) {
                                    alert("Chọn địa chỉ");
                                } else {
                                    document.getElementById("myForm").submit();
                                }
                            }
                        }
                    });
                }
            }
        }
    </script>
    @*<div class="w3-row-padding" id="about">
            <div class="w3-col l4 m7">
                <h3>About</h3>
                <h6>Our hotel is one of a kind. It is truely amazing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
            </div>
        </div>*@


</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-center w3-margin-top" style="background-color: #0E4AA3;color: white;">
    <h5>Dịch vụ công Tây Ninh</h5>
    @*<p>Powered by <a href="https://dichvucong.tayninh.gov.vn/" target="_blank" class="w3-hover-text-green">Dịch vụ công Tây Ninh</a></p>*@
</footer>
<script type="text/javascript">
    $(function () {
        $("#ddlProductTypes").change(function () {
            var tpid = $(this).val();
            $('#products').html("");
            $.getJSON("../NopHoSoZaLo/LoadDSDonVi", { tpid: tpid },
                function (categoryData) {
                    var select = $("#ddlProductCategorys");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn phường/xã"
                    }));
                    $.each(categoryData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });

        });
        $(function () {
            $('#ddlProductCategorys').change(function () {
                var url = $(this).data('url');
                var value = $(this).val();
                $('#products').load(url, { id: value });

            });
        });

    });

</script>
<script type="text/javascript">
    //File Upload response from the server
    Dropzone.options.dropzoneForm = {
        uploadMultiple: true,
        maxFiles: 15,
        dictDefaultMessage: "Đính kèm hồ sơ tại đây",
        dictInvalidFileType: "Vui lòng chỉ chọn file ảnh!",
        addRemoveLinks: true,
        dictRemoveFile: "Xoá file",
        acceptedFiles: ".jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF",
        resizeWidth: 1200, resizeHeight: 1200,
        resizeMethod: 'contain', resizeQuality: 1.0,
        //createImageThumbnails: false,
        //previewTemplate: '<div class="uploaded-image"><span data-dz-name></span> <strong class="dz-size" data-dz-size></strong><div class="dz-error-message" data-dz-errormessage></div><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div></div>',
        renameFilename: function (filename) {
            return new Date().getTime() + '_' + filename;
        },
        init: function () {
            this.on("error", function (file) {
                alert("Chỉ chấp nhận file ảnh");
                this.removeFile(file);
            });
            this.on("maxfilesexceeded", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
            });
            var name_arrays = [];
            this.on("complete", function (data) {
                var res = JSON.parse(data.xhr.responseText);
                //name_arrays.push(res.Message);
                //document.getElementById("FileDinhKem").setAttribute('value', name_arrays.toString());
            });
            this.on("removedfile", function (file) {
                alert("Đã xoá file tải lên");
                $.post("/NopHoSoZalo/DeleteFileUpload?FileName=" + file.upload.filename);
                //var i = name_arrays.indexOf(file.upload.filename);
                //if (i != -1) {
                //    array.splice(i, 1);
                //}
                //document.getElementById("FileDinhKem").setAttribute('value', name_arrays.toString());
            });
            //this.on("addedfile", function () {
            //    // creates an array of the files that are in queue
            //    alert(this.getAcceptedFiles()); // displays object and not the file name.
            //    console.log(this.getAcceptedFiles());

            //});
            //this.on("addedfile", function (file) {

            //    // Create the remove button
            //    var removeButton = Dropzone.createElement("<button>Xoá File</button>");

            //    // Capture the Dropzone instance as closure.
            //    var _this = this;

            //    // Listen to the click event
            //    removeButton.addEventListener("click", function (e) {
            //        // Make sure the button click doesn't submit the form:
            //        e.preventDefault();
            //        e.stopPropagation();
            //        // Remove the file preview.
            //        _this.removeFile(file);
            //        //var namefile = document.getElementById("FileDinhKem").value;
            //        var namefile = file.name;
            //        $.post("/NopHoSoZalo/DeleteFileUpload?FileName=" + namefile);
            //        document.getElementById("FileDinhKem").value = "";
            //        // If you want to the delete the file on the server as well,
            //        // you can do the AJAX request here.
            //    });

            //    // Add the button to the file preview element.
            //    file.previewElement.appendChild(removeButton);
            //});
        }
    };
</script>
