﻿
@{
    ViewBag.Title = "KetQua";
    Layout = "~/Views/Shared/_LayoutNopHoSoZaLo.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-panel w3-red w3-leftbar w3-padding-32">
        <h2><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i>Nộp hồ sơ thành công</h2>
    </div>

    <div class="w3-container">
        <h3>@ViewBag.ThongTinTen</h3>
        <h5>Điện thoại: @ViewBag.ThongTinDT đã nộp qua @ViewBag.ThongTinHinhThuc thành công</h5>
    </div>

</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Dịch vụ công Tây Ninh</h5>
    @*<p>Powered by <a href="https://dichvucong.tayninh.gov.vn/" target="_blank" class="w3-hover-text-green">Dịch vụ công Tây Ninh</a></p>*@
</footer>
