﻿@model IEnumerable<NopHoSoMotCuaZaLo.Models.DM_DONVI>
@{
    ViewBag.Title = "Lựa Chọn Xã";
    Layout = "~/Views/Shared/_LayoutNopHoSoZaLo.cshtml";
}


<div class="w3-content" style="max-width:1532px;">
    <div class="w3-padding w3-col l6 m8">
        <div class="w3-container w3-red">
            <h2>Nộp hồ sơ qua mạng</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
            <div class="w3-row-padding" style="margin:0 -16px;">

                <div class="w3-half">
                    <h5>Chọn xã/ phường cần nộp hồ sơ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row-padding w3-padding-16">

        @foreach (var item in Model)
        {
            <div class="w3-third w3-margin-bottom">
                @*<img src="/w3images/room_single.jpg" alt="Norway" style="width:100%">*@
                <div class="w3-container w3-white" style="text-align: center;">
                    <h3>
                        @Html.ActionLink(item.TenDonVi, "Create", "NopHoSoZaLo", new { donvi = item.DonViID, loaihs = ViewBag.LLHS, linhvuc = ViewBag.LLV }, htmlAttributes: new
{ style = " text-decoration: none " })
                        @*@Html.Action("LinkXaPhuong", "NopHoSoZaLo", new { tenxaphuong = item.TenPhuong, idquan = item.QuanID, loaihs = ViewBag.LLHS, linhvuc = ViewBag.LLV })*@
                    </h3>

                    @*<button class="w3-button w3-block w3-black w3-margin-bottom">Nộp hồ sơ</button>*@
                </div>
            </div>
        }
    </div>

</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Dịch vụ công Tây Ninh</h5>
    @*<p>Powered by <a href="https://dichvucong.tayninh.gov.vn/" target="_blank" class="w3-hover-text-green">Dịch vụ công Tây Ninh</a></p>*@
</footer>



